@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary mt-3" href="@Url.Action("Index", "Students")">Go to Students</a>
    }
</div>
