html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.justify-text {
    text-align: justify;
    text-justify: auto;
}

.flat-hover {
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.flat-hover:hover {
    border-color: #2780e3;
    box-shadow: 0 0.25rem 0.75rem rgba(39, 128, 227, 0.25);
    text-decoration: none;
    transform: translateY(-2px);
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal; 
}



